[*.cs]
csharp_indent_block_contents=true
csharp_preserve_single_line_statements=true
csharp_using_directive_placement=outside_namespace:error
csharp_prefer_simple_using_statement=true:error
csharp_prefer_braces=true:error
csharp_style_namespace_declarations=file_scoped:error
csharp_style_expression_bodied_methods=when_on_single_line:silent
csharp_style_expression_bodied_constructors=false:error
csharp_style_expression_bodied_operators=false:error
csharp_style_expression_bodied_properties=true:error
csharp_style_expression_bodied_indexers=true:error
csharp_style_expression_bodied_accessors=true:error
csharp_style_expression_bodied_lambdas=true:error
csharp_style_expression_bodied_local_functions=false:error
[*.{cs,vb}]
dotnet_style_coalesce_expression=true:error
dotnet_style_null_propagation=true:error
dotnet_style_prefer_is_null_check_over_reference_equality_method=true:error
dotnet_style_prefer_auto_properties=true:error
dotnet_style_object_initializer=true:error
dotnet_style_collection_initializer=true:error