@model WishlistItem
@{
    Layout = "";
    ViewData.TemplateInfo.HtmlFieldPrefix = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <form asp-controller="Wishlist" asp-action="AddItem" method="post" class="form-horizontal" role="form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Item</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="Name" class="control-label col-sm-4"></label>
                    <div class="col-sm-8">
                        <input asp-form="Name" class="form-control" />
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label col-sm-4"></label>
                    <div class="col-sm-8">
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Url" class="control-label col-sm-4"></label>
                    <div class="col-sm-8">
                        <input asp-for="Url" class="form-control" />
                        <span asp-validation-for="Url"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>