@model EditUserModel
@{
    Layout = "";
    ViewData.TemplateInfo.HtmlFieldPrefix = null;
}

<div class="modal-dialog text-start">
    <div class="modal-content">
        <form asp-controller="Admin" asp-action="EditUser" method="post">
            <input asp-for="AccountId" />
            <div class="modal-header">
                <h5 class="modal-title">Edit User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" />
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="DisplayName" class="form-label"></label>
                    <input asp-for="DisplayName" class="form-control" />
                    <span asp-validation-for="DisplayName"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Picked" class="form-label"></label>
                    <select asp-for="Picked" asp-items="Model?.PickOptions" class="form-control"></select>
                    <span asp-validation-for="Picked"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PickedBy" class="form-label"></label>
                    <input asp-for="PickedBy" class="form-control" readonly />
                </div>
                <div class="mb-3">
                    <label asp-for="DoNotPick" class="form-label"></label>
                    <select asp-for="DoNotPick" asp-items="Model?.DoNotPickOptions" class="form-control" multiple></select>
                    <span asp-validation-for="DoNotPick"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>
    </div>
</div>