@model WishlistEditModel
@{
    ViewBag.Title = Model?.DisplayName + "'s Wish List";
}

<h1>@ViewBag.Title</h1>

<div class="text-right">
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#AddItem">Add Item</button>
</div>

<div id="AddItem" class="modal fade">
    <partial name="EditorTemplates/AddItem" for="NewItem" />
</div>

@if (Model?.Items.Any() ?? false)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item</th>
                <th>Preview</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < (Model?.Items.Count ?? 0); i++)
            {
                <tr>
                    <td>
                        <h3>@Model?.Items[i].Name</h3>
                        <p><small>@Model?.Items[i].Description</small></p>
                    </td>
                    <td>
                        @if (!string.IsNullOrWhiteSpace(Model?.Items[i].Url))
                        {
                            <a class="preview" target="_blank" href="@Model.Items[i].Url">
                                <img class="img-thumbnail img-responsive" src="@Url.RouteUrl("preview", new { accountId = Model.AccountId, itemId = Model.Items[i].Id })" />
                            </a>
                        }
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <div class="pull-right">
                            @if (!string.IsNullOrWhiteSpace(Model?.Items[i].Url))
                            {
                                <a target="_blank" class="btn btn-default" href="@Model.Items[i].Url">More Information &raquo;</a>
                            }
                            <button class="btn btn-primary" data-toggle="modal" data-target="#EditItem@(i)">Edit</button>
                            <button class="btn btn-default" data-toggle="modal" data-target="#DeleteItem@(i)">Delete</button>
                        </div>
                        <div id="EditItem@(i)" class="modal fade">
                            <partial name="EditorTemplates/EditItem" for="Items[i]" />
                        </div>
                        <div id="DeleteItem@(i)" class="modal fade">
                            <partial name="EditorTemplates/DeleteItem" for="Items[i]" />
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Looks like you haven't added any items yet. Click the "Add Item" button to get started!</p>
}
