@model SendLogInLinkModel
@{
    ViewBag.Title = "Send Log In Link";
}

<div class="row">
    <div class="col">
        <h1 class="display-1">Welcome to Secret Santa!</h1>
        <form asp-controller="Account" asp-action="SendLogInLink" method="post" class="row">
            <fieldset>
                <legend>@ViewBag.Title</legend>

                <p>
                    If you misplaced your log-in email, you can use this form to have another
                    log-in link sent to you.
                </p>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Send Log-In Link</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col">
        <img src="~/images/santa.png" alt="Santa" class="img-fluid" />
    </div>
</div>
