@model DashboardModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-lg-6">
            <h1>You picked @Model?.PickedDisplayName!</h1>
            <p>Ho ho ho!</p>
            <p><a href="@Url.Action("Details", "Wishlist", new {id = Model?.PickedAccountId })" class="btn btn-primary btn-lg">View @Model?.PickedDisplayName's Wish List &raquo;</a></p>
        </div>
        <div class="col-lg-6">
            <img class="img-responsive" src="@Url.Content("~/images/santa.png")" alt="Santa" />
        </div>
    </div>
</div>